# Root ignore for Monorepo

# Java/Backend
**/target/
**/*.class

# Node/Frontend
**/node_modules/
**/dist/

# Misc
.DS_Store
.env
HELP.md
.idea

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
